<p-panel header="Profil et généralités">
  <div class="summary">
    <p>
      Je bénéficie d’une expérience de
      <b>{{ numberOfYearsFromDateToCurrentDate(experience) }} ans</b> en tant que concepteur développeur en matière de
      systèmes d’information.
    </p>
    <p>
      Principalement spécialisé dans les technologies <b>backend</b> (Java, Spring...), que j'ai pu éprouver sur
      différentes missions elles-mêmes touchant à plusieurs domaines d'activités (domaine du spatial, des ressources
      humaines, des collectivités...).
    </p>
    <p>
      J'ai néanmoins un profil <b>fullstack</b> de par les nombreux projets frontend que j'ai pu réaliser en parallèle.
    </p>
    <p>
      J'ai l'habitude de travailler avec les méthodes <b>Agiles</b> que j'affectionne quand il s'agit de conduire un
      projet (Scrum, Kanban..).
    </p>
  </div>
</p-panel>
