::ng-deep code {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-size: 0.7rem;
  background-color: hsl(0, 0%, 11%);
  color: var(--code-text);
  border-radius: 5px;
  padding: 0.2rem;
}
