html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
  background: var(--dark-grey);
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  overflow-y: auto;
}
