:root {
  --dark: hsl(0, 0%, 20%);
  --primary-clear: hsl(203, 19%, 90%);
  --secondary-clear: hsl(203, 19%, 80%);
  --white: hsl(110, 100%, 100%);
  --chip-bg: hsl(216, 14%, 89%);
  --dark-grey: hsl(199, 19%, 46%);
  --bg-color: hsl(49 37% 94%);
  --button: hsl(210, 9%, 31%);
  --typewriter-text: hsl(0 0% 0% / 0.7);
}
