:root {
  --dark: hsl(0, 0%, 20%);
  --primary-clear: hsl(203, 19%, 90%);
  --secondary-clear: hsl(203, 19%, 80%);
  --white: hsl(110, 100%, 100%);
  --grey: hsl(216, 14%, 89%);
  --dark-grey: hsl(199, 19%, 46%);
  --blue: hsl(206, 89%, 54%);
  --breakpoint-xs: 0;
  --breakpoint-sm: 480px;
  --breakpoint-md: 736px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1440px;
  --bg-color: hsl(49 37% 94%);
  --typewriterSpeed: 6s;
  --typewriterCharacters: 29;
}
