:root {
  --scrollbar-thumb-light: hsl(214, 15%, 65%);
  --scrollbar-thumb-light-hover: hsl(215, 16%, 47%);
  --scrollbar-thumb-dark: hsl(214, 17%, 34%);
  --scrollbar-thumb-dark-hover: hsl(215, 25%, 27%);
}