.container {
  @apply text-gray-600 dark:text-dark-gray-300;
  @apply bg-gray-25 dark:bg-dark-slate-700;
  @apply border-gray-300 dark:border-dark-slate-600 #{!important};
  border-radius: 3px;
  border: 1px solid;
  padding: 2rem 1rem;
  position: sticky;
  top: 2rem;
  max-width: 100%;

  .general {
    display: flex;
    flex-direction: column;
    align-items: center;

    .general {
      &__name {
        font-size: 1.2rem;
        font-weight: bold;
        margin: 1rem 0;
      }

      &__presentation {
        text-align: left;
        margin-bottom: 1rem;
      }


      &__button {
        @apply bg-gray-25 dark:bg-dark-slate-700;
        @apply text-gray-600 dark:text-dark-gray-300;

        &:hover {
          @apply bg-dark-slate-700 dark:bg-gray-25;
          @apply text-dark-gray-300 dark:text-gray-600;
        }

        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        cursor: pointer;
        -webkit-appearance: button;
        background-image: none;
        text-transform: none;
        font-size: 100%;
        margin: 0;
        padding: 0;
        border-radius: 50%;
        height: 2rem;
        width: 2rem;
        outline-color: transparent;
        overflow: hidden;
        display: inline-flex;
        user-select: none;
        align-items: center;
        vertical-align: bottom;
        text-align: center;
        justify-content: center;
      }
    }
  }
}

