:host {
  flex: 2;

  .progress-bar {
    @apply bg-progress-bar-bg dark:bg-dark-progress-bar-bg;
    height: 0.5rem;
    border-radius: 5px;
    position: relative;
    overflow: hidden;

    .progress-bar__value {
      @apply bg-progress-bar dark:bg-dark-progress-bar;
      height: 100%;
      width: 0;
      position: absolute;
      border: 0 none;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }

    .progress-bar__value-animate {
      transition: width 1s ease-in-out;
    }
  }
}
