@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}

$radius: 1.625rem;

button {
  @apply bg-dark-slide-button-bg dark:bg-slide-button-bg;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  padding: 2px;
  font-size: 14px;
  outline: none;
  border: none;
  border-radius: $radius;

  &.learn-more {
    width: 10rem;
    height: auto;

    .circle {
      @apply bg-dark-slide-circle-button-bg dark:bg-slide-circle-button-bg;
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
      position: relative;
      display: block;
      margin: 0;
      width: 2rem;
      height: 2rem;
      border-radius: $radius;

      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;

        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
          left: 0.125rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;

          &::before {
            @apply border-t-dark-slide-button-icon dark:border-t-slide-button-icon;
            @apply border-r-dark-slide-button-icon dark:border-r-slide-button-icon;
            border-top-width: 0.125rem;
            border-right-width: 0.125rem;
            border-top-style: solid;
            border-right-style: solid;
            position: absolute;
            content: '';
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            transform: rotate(45deg);
          }
        }
      }
    }

    .button-text {
      @apply text-dark-text-color dark:text-text-color;
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      line-height: 0.8;
      text-align: center;
    }
  }

  &:hover {
    .circle {
      width: 100%;

      .icon {
        &.arrow {
          @apply bg-dark-slide-button-icon dark:bg-slide-button-icon;
          transform: translate(1rem, 0);
        }
      }
    }

    .button-text {
      @apply text-dark-slide-button-icon dark:text-slide-button-icon;
    }
  }
}
