<!--PROFIL-->
<p-panel header="Profil et généralités">
  <div style="text-align: start">
    <p>
      Je bénéficie d’une expérience de
      <b>{{ numberOfYearsFromDateToCurrentDate(experience) }} ans</b> en tant que concepteur développeur en matière de
      systèmes d’information.
    </p>
    <p>
      Principalement spécialisé dans les technologies <b>backend</b> (Java, Spring...), que j'ai pu éprouver sur
      différentes missions elles-mêmes touchant à plusieurs domaines d'activités (domaine du spatial, des ressources
      humaines, des collectivités...).
    </p>
    <p>
      J'ai néanmoins un profil <b>fullstack</b> de par les nombreux projets frontend que j'ai pu réaliser en parallèle.
    </p>
    <p>
      J'ai l'habitude de travailler avec les méthodes <b>Agiles</b> que j'affectionne quand il s'agit de conduire un
      projet (Scrum, Kanban..).
    </p>
  </div>
</p-panel>
<!--LANGUAGES-->
<p-panel header="Langages et outils">
  <div class="tool">
    <ng-container *ngFor="let tool of tools">
      <div class="tool__languages">
        <span>{{ tool.name }}</span>
        <p-progressBar [value]="tool.rate" [showValue]="false"></p-progressBar>
      </div>
    </ng-container>
  </div>
</p-panel>
<!--EXPERIENCE-->
<p-panel header="Expérience">
  <p-timeline [value]="missions" align="alternate" styleClass="customized-timeline">
    <ng-template pTemplate="marker" let-mission>
      <span class="custom-marker p-shadow-2" [style.backgroundColor]="'#607D8B'">
        <i [ngClass]="'pi pi-bookmark'"></i>
      </span>
    </ng-template>
    <ng-template pTemplate="content" let-mission>
      <p-card
        [header]="mission.client"
        [subheader]="missionTimelapse(mission.startDate, mission.endDate)"
        [style]="{ backgroundColor: 'hsl(204, 19%, 98%)' }"
        styleClass="mission"
      >
        <markdown [src]="missionFromDate(mission.startDate, 'light')"></markdown>
        <div style="display: flex; justify-content: center">
          <portfolio-slide-button (click)="openDialog(mission)"></portfolio-slide-button>
        </div>
      </p-card>
    </ng-template>
  </p-timeline>
</p-panel>
<!--LOISIRS-->
<portfolio-hobbies></portfolio-hobbies>
<!--DETAILS-->
<p-dialog
  *ngIf="selectedMission"
  [(visible)]="displayDialog"
  [header]="selectedMission?.client"
  [modal]="true"
  [style]="{ maxWidth: '1280px' }"
  [closeOnEscape]="true"
  [dismissableMask]="true"
  [blockScroll]="true"
  (onHide)="onDialogHiding()"
  (onShow)="onMissionLoading()"
>
  <ng-template pTemplate="header">
    <span class="mission__timelapse">{{ missionTimelapse(selectedMission?.startDate, selectedMission?.endDate) }}</span>
  </ng-template>
  <ng-template pTemplate="content">
    <div [class.mission__content-transition]="!loading" class="mission__content">
      <div *ngIf="loading; else missionContent">
        <p-progressSpinner strokeWidth="6" styleClass="mission__content__spinner"></p-progressSpinner>
      </div>
      <ng-template #missionContent>
        <div class="mission__content__text">
          <div [innerHTML]="innerLightMission"></div>
          <div [innerHTML]="innerFullMission"></div>
        </div>
      </ng-template>
    </div>
  </ng-template>
</p-dialog>
