:host {
  display: grid;
  grid-row-gap: 2rem;

  .tool {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    padding: 0 2rem;

    &__languages {
      display: flex;
      align-items: center;

      > span {
        flex: 1;
        text-align: start;
        margin-right: 1rem;
      }

      > p-progressbar {
        flex: 2;
      }
    }
  }

  .custom-marker {
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    color: var(--white);
    border-radius: 50%;
    z-index: 1;
  }

  ::ng-deep {
    .p-timeline-event-content,
    .p-timeline-event-opposite {
      line-height: 1;
    }

    :not(pre) > pre {
      background: #272822;
    }

    pre {
      padding: 0.3rem;
      margin: 0.5em 0;
      overflow: auto;
      border-radius: 0.3em;
      color: #f8f8f2;
      background: none;
      text-shadow: 0 1px rgba(0, 0, 0, 0.3);
      font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
      font-size: 1em;
      text-align: left;
      white-space: pre;
      word-spacing: normal;
      word-break: normal;
      word-wrap: normal;
      line-height: 1.5;
      -moz-tab-size: 4;
      tab-size: 4;
      -webkit-hyphens: none;
      hyphens: none;
    }

    code[class*='language-'] {
      font-size: 0.7rem;
      max-width: calc(100vw - 4rem);
      display: grid;
      grid-auto-columns: auto;
    }

    .p-dialog {
      .p-dialog-header .mission__timelapse {
        font-style: italic;
        margin: 0 1rem;
      }

      .p-dialog-content {
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        display: flex;
        justify-content: center;
        overflow-x: hidden;
        overflow-y: hidden;

        .mission__content {
          max-height: 100px;
          max-width: 100px;
          transition: max-height 800ms ease-in-out, max-width 800ms ease-in-out;

          .mission__content__spinner .p-progress-spinner-circle {
            animation: progress-spinner-dash 1.5s ease-in-out infinite, progress-spinner-color 6s ease-in-out infinite;
          }

          @keyframes progress-spinner-color {
            100%,
            0%,
            40%,
            66%,
            80%,
            90% {
              stroke: var(--dark-grey);
            }
          }

          @keyframes progress-spinner-dash {
            0% {
              stroke-dasharray: 1, 200;
              stroke-dashoffset: 0;
            }
            50% {
              stroke-dasharray: 89, 200;
              stroke-dashoffset: -35px;
            }
            100% {
              stroke-dasharray: 89, 200;
              stroke-dashoffset: -124px;
            }
          }

          .mission__content__text {
            display: flex;
            flex-direction: column;
            text-align: left;
            opacity: 0;
            animation: fadeText 800ms forwards 800ms;
          }

          @keyframes fadeText {
            from {
              opacity: 0;
            }
            to {
              opacity: 1;
            }
          }
        }

        .mission__content-transition {
          max-height: 100vh;
          max-width: calc(1280px - 3rem);
        }
      }

      .p-dialog-content-scroll {
        overflow-y: auto;
        animation: hideScroll 800ms backwards;
      }

      @keyframes hideScroll {
        from,
        to {
          overflow-y: hidden;
        }
      }
    }

    .p-progressbar {
      height: 0.5rem;
      border-radius: 5px;
    }

    .p-panel-header {
      display: grid;
      justify-content: center;
    }

    .p-button.p-button-secondary.p-button-outlined {
      color: var(--dark);
    }

    .mission__animation-left {
      opacity: 0;
      transform: translateX(-40px);
      animation: fadeIn 3s forwards;
      -webkit-animation: fadeIn 3s forwards;
      -moz-animation: fadeIn 3s forwards;
      -o-animation: fadeIn 3s forwards;
      -ms-animation: fadeIn 3s forwards;
    }

    .mission__animation-right {
      opacity: 0;
      transform: translateX(40px);
      animation: fadeIn 3s forwards;
      -webkit-animation: fadeIn 3s forwards;
      -moz-animation: fadeIn 3s forwards;
      -o-animation: fadeIn 3s forwards;
      -ms-animation: fadeIn 3s forwards;
    }

    .p-timeline-event-content > p-card > .mission > .p-card-body > .p-card-content {
      text-align: left;
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
      to {
        transform: translateX(0);
      }
    }

    @-moz-keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
      to {
        transform: translateX(0);
      }
    }

    @-webkit-keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
      to {
        transform: translateY(0);
      }
    }

    @-o-keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
      to {
        transform: translateX(0);
      }
    }

    @-ms-keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
      to {
        transform: translateX(0);
      }
    }
  }

  @media screen and (max-width: 960px) {
    .tool {
      grid-template-columns: 1fr;
    }

    ::ng-deep {
      .customized-timeline {
        .p-timeline-event:nth-child(even) {
          flex-direction: row !important;

          .p-timeline-event-content {
            text-align: left !important;
          }
        }

        .p-timeline-event-opposite {
          flex: 0;
        }

        .p-card {
          margin-top: 1rem;
        }
      }
    }
  }
}
