<p-panel header="Expérience">
  <p-timeline [value]="missions" align="alternate" styleClass="customized-timeline">
    <ng-template pTemplate="marker">
      <span class="custom-marker p-shadow-2" [style.backgroundColor]="'#607D8B'">
        <i [ngClass]="'pi pi-bookmark'"></i>
      </span>
    </ng-template>
    <ng-template pTemplate="content" let-mission>
      <p-card
        [header]="mission['client']"
        [subheader]="mission['timelapse']"
        [style]="{ backgroundColor: 'hsl(204, 19%, 98%)' }"
        styleClass="mission"
      >
        <markdown [src]="mission.description"></markdown>
        <div class="mission__button">
          <portfolio-slide-button (click)="emitOpenMissionDialog(mission)"></portfolio-slide-button>
        </div>
      </p-card>
    </ng-template>
  </p-timeline>
</p-panel>
