.custom-marker {
  display: flex;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  color: var(--white);
  border-radius: 50%;
  z-index: 1;
}

::ng-deep {
  .p-timeline-event-content,
  .p-timeline-event-opposite {
    line-height: 1;
  }

  .p-button.p-button-secondary.p-button-outlined {
    color: var(--dark);
  }

  .mission {
    box-shadow: none;

    &__animation-left {
      opacity: 0;
      transform: translateX(-40px);
      animation: fadeIn 3s forwards;
      -webkit-animation: fadeIn 3s forwards;
      -moz-animation: fadeIn 3s forwards;
      -o-animation: fadeIn 3s forwards;
      -ms-animation: fadeIn 3s forwards;
    }

    &__animation-right {
      opacity: 0;
      transform: translateX(40px);
      animation: fadeIn 3s forwards;
      -webkit-animation: fadeIn 3s forwards;
      -moz-animation: fadeIn 3s forwards;
      -o-animation: fadeIn 3s forwards;
      -ms-animation: fadeIn 3s forwards;
    }

    &__button {
      display: flex;
      justify-content: center;
    }
  }

  .p-timeline-event-content > p-card > .mission > .p-card-body > .p-card-content {
    text-align: left;
  }

  .p-card-content {
    display: grid;
    gap: 1rem;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
    to {
      transform: translateX(0);
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
    to {
      transform: translateX(0);
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
    to {
      transform: translateY(0);
    }
  }

  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
    to {
      transform: translateX(0);
    }
  }

  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
    to {
      transform: translateX(0);
    }
  }
}

@media screen and (max-width: 960px) {
  ::ng-deep {
    .customized-timeline {
      .p-timeline-event:nth-child(even) {
        flex-direction: row !important;

        .p-timeline-event-content {
          text-align: left !important;
        }
      }

      .p-timeline-event-opposite {
        display: none;
      }

      .p-card {
        margin-top: 1rem;
      }
    }
  }
}
