@reference "../../../../styles/override/tailwind.css";

.avatar {
  @apply outline-gray-300! dark:outline-dark-slate-600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-color: transparent;
  border-radius: 50%;
  overflow: hidden;
  width: 4rem;
  height: 4rem;
  outline: 1px solid;
}
