<p-card>
  <div class="general">
    <p-avatar size="xlarge" shape="circle" styleClass="p-mt-5" image="assets/pictures/me.jpg"></p-avatar>
    <span class="general__name">Gilles Gardet</span>
    <span class="general__presentation"
      >Développeur fullstack, curieux par nature et passionné par son métier.</span
    >
    <p-chip
      label="gilles.gardet@gmail.com"
      icon="pi pi-envelope"
      styleClass="p-mr-2"
      (click)="openEmailClient()"
    ></p-chip>
    <button
      pButton
      pRipple
      type="submit"
      icon="pi pi-cloud-download"
      class="p-button-rounded p-button-text general__button-left"
      pTooltip="Télécharger mon CV au format PDF"
      (click)="downloadCurriculumVitae()"
    ></button>
<!--    <button-->
<!--      pButton-->
<!--      pRipple-->
<!--      [icon]="themeChecked ? 'pi pi-sun' : 'pi pi-moon'"-->
<!--      class="p-button-rounded p-button-text general__button-right"-->
<!--      pTooltip="Changer le thème"-->
<!--      (click)="switchTheme()"-->
<!--    ></button>-->
  </div>
</p-card>
