::ng-deep {
  .p-card-title,
  .p-card-subtitle {
    text-align: center;
  }

  .p-tag, .p-progressbar .p-progressbar-value {
    background: var(--dark-grey);
  }

  p-scrolltop > button.p-scrolltop {
    z-index: 1004;
  }
}
