@reference "../../../styles/extensions/tailwind.css";

.mission {
  @apply bg-white dark:bg-dark-slate-700;

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;

    h2 {
      @apply text-gray-600 dark:text-dark-gray-300;
      margin: 0;
      line-height: 1.2;
    }

    &__timelapse {
      @apply text-gray-600 dark:text-dark-gray-300;
      font-style: italic;
      opacity: 0.7;
      font-size: 0.875rem;
    }
  }

  &__content {
    display: grid;
    grid-template-rows: 0fr;
    max-width: calc(1280px - 3rem);
    transition: grid-template-rows 400ms ease-in-out;

    &--transition {
      grid-template-rows: 1fr;
    }

    &__text {
      @apply bg-white dark:bg-dark-slate-700;
      display: flex;
      flex-direction: column;
      text-align: left;
      opacity: 0;
      gap: 0.5rem;
      min-height: 106px;
      animation: fadeText 400ms forwards 400ms;
    }

    @keyframes fadeText {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
}
