#container {
  height: 100vh;
  display: grid;
  grid-template-columns: 18rem minmax(18rem, 65rem);
  justify-content: center;

  > aside {
    position: sticky;
    background-color: var(--secondary-clear);
  }

  > main {
    display: flex;
  }
}
