@use 'src/styles/override/primeng';
@use 'src/styles/override/ngx-markdown';

#container {
  @apply bg-body-bg dark:bg-dark-body-bg;
  min-height: 100vh;
  display: grid;
  grid-template: 1fr / 18rem minmax(18rem, 65rem);
  justify-content: center;

  .welcome {
    height: 100vh;
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    scroll-snap-align: end;

    &__content {
      h1 {
        font-size: clamp(1rem, 3vw + 1rem, 4rem);
        position: relative;
        font-family: 'Source Code Pro', monospace;
        width: max-content;

        &::before,
        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }

        &::before {
          background: var(--typewriter-bg);
          animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
        }

        &::after {
          width: 0.125em;
          background: var(--black);
          animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards,
            blink 750ms steps(var(--typewriterCharacters)) infinite;
        }
      }

      &__subtitle {
        color: var(--black);
        margin: 5rem 0;
        font-size: 2rem;
        font-weight: 400;
        opacity: 0;
        transform: translateY(3rem);
        animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
      }

      &__goto {
        opacity: 0;
        animation: bounce 1.5s infinite calc(var(--typewriterSpeed) + 3s),
          visibility 1.5s forwards calc(var(--typewriterSpeed) + 3s);

        &:hover {
          cursor: pointer;
        }
      }
    }

    @keyframes typewriter {
      to {
        left: 100%;
      }
    }

    @keyframes blink {
      to {
        background: transparent;
      }
    }

    @keyframes visibility {
      to {
        opacity: 0.8;
      }
    }

    @keyframes bounce {
      0%,
      20%,
      50%,
      80%,
      100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-30px);
      }
      60% {
        transform: translateY(-15px);
      }
    }

    @keyframes fadeInUp {
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  > aside {
    padding: 2rem 0;
    margin: 0 1rem;
  }

  > main {
    scroll-snap-align: start;
    display: flex;
    padding: 2rem 1rem;
  }

  .scroll-wrapper {
    width: 100%;
    height: 0.2rem;
    position: fixed;
    inset: 0 0 auto;
    z-index: 98;

    #scroll-tracker {
      @apply bg-progress dark:bg-dark-progress;
      position: fixed;
      inset: 0 0 auto;
      height: 0.2rem;
      width: 0;
      z-index: 99;
    }
  }
}

.spinner {
  animation: progress-spinner-dash 1.5s ease-in-out infinite, progress-spinner-color 6s ease-in-out infinite;
}

@keyframes progress-spinner-color {
  100%,
  0%,
  40%,
  66%,
  80%,
  90% {
    @apply stroke-text-color dark:stroke-dark-text-color;
  }
}

@keyframes progress-spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@media print, screen and (max-width: 960px) {
  #container {
    grid-template-columns: minmax(18rem, 65rem);
    padding: 0 1rem;
  }
}
