@reference "../styles/extensions/tailwind.css";

#container {
  @apply bg-gray-100 dark:bg-dark-slate-800;
  min-height: 100vh;
  display: grid;
  grid-template: 1fr / 18rem minmax(18rem, 65rem);
  justify-content: center;

  > aside {
    padding: 2rem 0;
    margin: 0 1rem;
  }

  > main {
    scroll-snap-align: start;
    display: flex;
    padding: 2rem 1rem;
  }

  .scroll-wrapper {
    width: 100%;
    height: 0.2rem;
    position: fixed;
    inset: 0 0 auto;
    z-index: 98;

    #scroll-tracker {
      @apply bg-progress dark:bg-dark-progress;
      position: fixed;
      inset: 0 0 auto;
      height: 0.2rem;
      width: 0;
      z-index: 99;
    }
  }
}

.spinner {
  animation: progress-spinner-dash 1.5s ease-in-out infinite,
  progress-spinner-color 6s ease-in-out infinite;
}

@keyframes progress-spinner-color {
  100%,
  0%,
  40%,
  66%,
  80%,
  90% {
    stroke: var(--color-gray-600);
  }
}

:is(.dark *) {
  @keyframes progress-spinner-color {
    100%,
    0%,
    40%,
    66%,
    80%,
    90% {
      stroke: var(--color-dark-gray-300);
    }
  }
}

@keyframes progress-spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@media print, screen and (max-width: 960px) {
  #container {
    grid-template-columns: minmax(18rem, 65rem);
    padding: 0 1rem;
  }
}
