::ng-deep {
  p-card > div.p-card {
    position: sticky;
    top: 2rem;
  }

  button.p-button {
    border: 1px solid #495057;
    background: #495057;
    &.p-button.p-button-text,
    &.p-button.p-button-text:enabled:hover,
    &.p-button.p-button-text:enabled:active {
      color: #495057;
    }
    &.p-button.p-button-text:enabled:hover,
    &.p-button.p-button-text:enabled:active {
      background: rgba(75, 85, 94, 0.04);
    }
    &.p-button:focus,
    &.p-button.p-button-text:enabled:active {
      box-shadow: 0 0 0 0.2rem #aab1b9;
    }
  }
  p-chip[label='gilles.gardet@gmail.com'] {
    --params: 0.8s ease;

    .p-chip {
      position: relative;
      overflow: hidden;
      transition: color var(--params), background-color var(--params);
      background-color: var(--grey);
      z-index: 0;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-color: var(--dark-grey);
        transform: translateX(100%);
        transition: transform var(--params), opacity var(--params);
      }

      &:hover {
        cursor: pointer;
        color: var(--white);
        background-color: transparent;

        &::before {
          transform: translateX(0);
          opacity: 1;
        }
      }
    }
  }
}
