<!--PROFIL-->
<p-card header="Profil">
  <div>
    <p>Je profite d’une expérience de 7 ans en tant que concepteur développeur en matière de systèmes d’information.</p>
    <p>Principalement spécialisé dans les technologies backend (Java, Spring...), que j'ai pu éprouver sur différentes
      missions elles-mêmes touchant à plusieurs domaines d'activités (domaine du spatial, des ressources humaines, des
      collectivités...).</p>
    <p>J'ai néanmoins un profil fullstack de par les nombreux projets frontend que j'ai pu réaliser en parallèle.</p>
    <p>J'ai l'habitude de travailler avec les méthodes Agiles que j'affectionne quand il s'agit de conduire un projet
      (Scrum, Kanban..).</p>
  </div>
</p-card>
<!--LANGUAGES-->
<p-card header="Langages et outils">
  <ng-container *ngFor="let tool of tools">
    <div class="tool">
      <span>{{tool.name}}</span>
      <p-progressBar [value]="tool.rate" [showValue]="false"></p-progressBar>
    </div>
  </ng-container>
</p-card>
<!--EXPERIENCE-->
<p-card header="Expérience">
  <p-timeline [value]="missions" align="alternate" styleClass="customized-timeline">
    <ng-template pTemplate="marker" let-mission>
            <span class="custom-marker p-shadow-2" [style.backgroundColor]="mission.color">
                <i [ngClass]="mission.icon"></i>
            </span>
    </ng-template>
    <ng-template pTemplate="content" let-mission>
      <p-card [header]="mission.client" [subheader]="mission.date">
        <img *ngIf="mission.image" [src]="'assets/showcase/images/demo/product/' + mission.image" [alt]="mission.name"
             width="200" class="p-shadow-2"/>
        <p>{{mission.description}}</p>
        <button pButton label="En savoir plus" class="p-button-text"></button>
      </p-card>
    </ng-template>
  </p-timeline>
</p-card>
<!--LOISIRS-->
<p-card header="Loisirs">
  <span>Basketball en compétition (niveau excellence)</span>
  <span>Course à pied (marathon de Toulouse en équipe)</span>
  <span>Développement</span>
</p-card>
