$bg: #f3f8fa;
$white: #fff;

:host {
  display: grid;
  grid-row-gap: 2rem;

  .tool {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    padding: 0 2rem;

    &__languages {
      display: flex;
      align-items: center;

      > span {
        flex: 1;
        text-align: start;
        margin-right: 1rem;
      }

      > p-progressbar {
        flex: 2;
      }
    }
  }

  .custom-marker {
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 50%;
    z-index: 1;
  }

  ::ng-deep {
    .p-timeline-event-content,
    .p-timeline-event-opposite {
      line-height: 1;
    }

    :not(pre) > pre {
      background: #272822;
    }

    pre {
      padding: 0.3rem;
      margin: 0.5em 0;
      overflow: auto;
      border-radius: 0.3em;
      color: #f8f8f2;
      background: none;
      text-shadow: 0 1px rgba(0, 0, 0, 0.3);
      font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
      font-size: 1em;
      text-align: left;
      white-space: pre;
      word-spacing: normal;
      word-break: normal;
      word-wrap: normal;
      line-height: 1.5;
      -moz-tab-size: 4;
      tab-size: 4;
      -webkit-hyphens: none;
      hyphens: none;
    }

    code[class*='language-'] {
      font-size: 0.7rem;
      max-width: calc(100vw - 4rem);
      display: flex;
    }

    .p-dialog {
      .p-dialog-header .mission__timelapse {
        font-style: italic;
        margin: 0 1rem;
      }

      .p-dialog-content {
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        display: flex;
        justify-content: center;
        overflow-x: hidden;
        overflow-y: hidden;

        .mission__content {
          max-height: 100px;
          max-width: 100px;
          transition: max-height 800ms ease-in-out, max-width 800ms ease-in-out;

          .mission__content__spinner .p-progress-spinner-circle {
            animation: progress-spinner-dash 1.5s ease-in-out infinite, progress-spinner-color 6s ease-in-out infinite;
          }

          @keyframes progress-spinner-color {
            100%,
            0%,
            40%,
            66%,
            80%,
            90% {
              stroke: var(--dark-grey);
            }
          }

          @keyframes progress-spinner-dash {
            0% {
              stroke-dasharray: 1, 200;
              stroke-dashoffset: 0;
            }
            50% {
              stroke-dasharray: 89, 200;
              stroke-dashoffset: -35px;
            }
            100% {
              stroke-dasharray: 89, 200;
              stroke-dashoffset: -124px;
            }
          }

          .mission__content__text {
            display: flex;
            flex-direction: column;
            text-align: left;
            opacity: 0;
            animation: fadeText 800ms forwards 800ms;
          }

          @keyframes fadeText {
            from {
              opacity: 0;
            }
            to {
              opacity: 1;
            }
          }
        }

        .mission__content-transition {
          max-height: 100vh;
          max-width: calc(1280px - 3rem);
        }
      }

      .p-dialog-content-scroll {
        overflow-y: auto;
        animation: hideScroll 800ms backwards;
      }

      @keyframes hideScroll {
        from,
        to {
          overflow-y: hidden;
        }
      }
    }

    .p-progressbar {
      height: 0.5rem;
      border-radius: 5px;
    }

    .p-panel-header {
      justify-content: center;
    }

    .p-button.p-button-secondary.p-button-outlined {
      color: var(--dark);
    }

    .mission__animation-left {
      opacity: 0;
      transform: translateX(-40px);
      animation: fadeIn 3s forwards;
      -webkit-animation: fadeIn 3s forwards;
      -moz-animation: fadeIn 3s forwards;
      -o-animation: fadeIn 3s forwards;
      -ms-animation: fadeIn 3s forwards;
    }

    .mission__animation-right {
      opacity: 0;
      transform: translateX(40px);
      animation: fadeIn 3s forwards;
      -webkit-animation: fadeIn 3s forwards;
      -moz-animation: fadeIn 3s forwards;
      -o-animation: fadeIn 3s forwards;
      -ms-animation: fadeIn 3s forwards;
    }

    .p-timeline-event-content > p-card > .mission > .p-card-body > .p-card-content {
      text-align: left;
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
      to {
        transform: translateX(0);
      }
    }

    @-moz-keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
      to {
        transform: translateX(0);
      }
    }

    @-webkit-keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
      to {
        transform: translateY(0);
      }
    }

    @-o-keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
      to {
        transform: translateX(0);
      }
    }

    @-ms-keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
      to {
        transform: translateX(0);
      }
    }
  }

  @media screen and (max-width: 960px) {
    .tool {
      grid-template-columns: 1fr;
    }

    ::ng-deep {
      .customized-timeline {
        .p-timeline-event:nth-child(even) {
          flex-direction: row !important;

          .p-timeline-event-content {
            text-align: left !important;
          }
        }

        .p-timeline-event-opposite {
          flex: 0;
        }

        .p-card {
          margin-top: 1rem;
        }
      }
    }
  }
}

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  background: white;
  padding: 0;
  font-size: 14px;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  //box-shadow: 0 0 0 1pt #607d8b;

  &.learn-more {
    width: 10rem;
    height: auto;

    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
      position: relative;
      display: block;
      margin: 0;
      width: 2rem;
      height: 2rem;
      background: var(--bluegray-500);
      border-radius: 1.625rem;

      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $white;

        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
          left: 0.125rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;

          &::before {
            position: absolute;
            content: '';
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
          }
        }
      }
    }

    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: var(--bluegray-500);
      line-height: 0.6;
      text-align: center;
    }
  }

  &:hover {
    .circle {
      width: 100%;

      .icon {
        &.arrow {
          background: $white;
          transform: translate(1rem, 0);
        }
      }
    }

    .button-text {
      color: $white;
    }
  }
}

@supports (display: grid) {
  body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.625rem;
    grid-template-areas: ". main main ." ". main main .";
  }

  #container {
    grid-area: main;
    align-self: center;
    justify-self: center;
  }
}
