:host {
  display: grid;
  grid-row-gap: 2rem;

  .mission {
    &__title {
      grid-area: 1 / 2 / 1 / 3;

      &__timelapse {
        font-style: italic;
      }
    }

    &__content {
      max-height: 100px;
      max-width: 100px;
      transition:
        max-height 800ms ease-in-out,
        max-width 800ms ease-in-out;

      &__text {
        display: flex;
        flex-direction: column;
        text-align: left;
        opacity: 0;
        animation: fadeText 800ms forwards 800ms;

        ul {
          @apply list-disc;
          li {
            @apply ml-8;
          }
        }
      }

      &-transition {
        max-height: 100vh;
        max-width: calc(1280px - 3rem);
      }

      @keyframes fadeText {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }
}
