<p-dialog
  *ngIf="selectedMission"
  [(visible)]="displayDialog"
  [header]="selectedMission.client"
  [modal]="true"
  [style]="{ maxWidth: '1280px' }"
  [closeOnEscape]="true"
  [dismissableMask]="true"
  [blockScroll]="true"
  (onHide)="onDialogHiding()"
  (onShow)="onMissionLoading()"
>
  <ng-template pTemplate="header">
    <div class="mission__title">
      <h2 class="prose prose-2xl font-bold text-slate-600 dark:text-slate-100">{{ selectedMission.client }}</h2>
      <span class="mission__title__timelapse">{{ selectedMission.timelapse }}</span>
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <div [class.mission__content-transition]="!loading" class="mission__content">
      <div *ngIf="loading; else missionContent">
        <p-progressSpinner strokeWidth="6" styleClass="mission__content__spinner"></p-progressSpinner>
      </div>
      <ng-template #missionContent>
        <div class="mission__content__text">
          <div [innerHTML]="innerLightMission"></div>
          <div [innerHTML]="innerFullMission"></div>
        </div>
      </ng-template>
    </div>
  </ng-template>
</p-dialog>
