<p-card>
  <div style="display: flex; flex-direction: column; align-items: center">
    <p-avatar size="xlarge" shape="circle" styleClass="p-mt-5" image="assets/pictures/me.jpg"></p-avatar>
    <span style="font-size: 1.2rem; font-weight: bold; margin: 1rem 0">Gilles Gardet</span>
    <span style="text-align: left; margin-bottom: 1rem"
      >Développeur fullstack, curieux par nature et passionné par son métier.</span
    >
    <p-chip
      label="gilles.gardet@gmail.com"
      icon="pi pi-envelope"
      styleClass="p-mr-2"
      (click)="openEmailClient()"
    ></p-chip>
    <button
      pButton
      pRipple
      type="submit"
      icon="pi pi-cloud-download"
      class="p-button-rounded p-button-text"
      pTooltip="Télécharger mon CV au format PDF"
      style="position: absolute; top: 0.5rem; left: 0.5rem"
      (click)="downloadCurriculumVitae()"
    ></button>
<!--    <button-->
<!--      pButton-->
<!--      pRipple-->
<!--      [icon]="themeChecked ? 'pi pi-sun' : 'pi pi-moon'"-->
<!--      class="p-button-rounded p-button-text"-->
<!--      pTooltip="Changer le thème"-->
<!--      style="position: absolute; top: 0.5rem; right: 0.5rem"-->
<!--      (click)="switchTheme()"-->
<!--    ></button>-->
  </div>
</p-card>
